<% @products.each do |product| %>
<h2><%= product.name %></h2>
<%= link_to "Review", product_path(product) %>

<p><%= product.formatted_price %></p>
<% end %>
<%= link_to "Add Product", new_product_path %>
